body {
    font-family: Arial, sans-serif;
}

#images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image {
    width: 200px;
    margin: 0 10px;
}

#options {
    display: flex;
    justify-content: center;
}

.option {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
} 
